@import '../variables.scss';
@import '../mixins/mq.scss';

main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  align-self: center;
  width: 70%;
  height: 60%;
  background-color: $turq;
  display: flex;
  padding: 3em 0 0 3.5em;
  @include mq($S) {
    max-width: 960px;
  }
  .page-content {
    align-self: flex;
    outline: 2px solid $black;
    outline-offset: 1.5em;
    .text-container {
      padding: 1.5em 1.5em 1.5em .5em;
      height: 70%;
    }
  }
}
