@import '../variables.scss';
@import '../mixins/mq.scss';

.flex-wrapper {
  display: flex;
  h1 {
    align-self: flex-start;
    font-size: 9vmin;
    line-height: 1;
    padding: 0;
    @include mq($S) {
      font-size: 6vmin;
    }
  }
  .align-center {
    align-self: center;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.flex-wrapper-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-half {
  flex: 1 1 auto;
  align-self: center;
}

.flex-column {
  flex-direction: column
}

.flex-row {
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flex-center {
  align-self: center;
  justify-content: center;

}

h1.flex-center {
  font-size: 11vmin !important;
  align-self: center;
}

.flex-item-center {
  align-self: center;
}

.flex-start-wrap {
  align-self: flex-start;
}

.results {
  .flex-column-item-end {
    margin-top: auto;
  }
}
.flex-column-item-end {
  margin-top: auto;
  align-self: flex-end;
  text-align: center;
  width: 100%;
  min-height: 28px;
}
