.flex-wrapper {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-half {
  flex: 1;
}

.flex-column {
  flex-direction: column
}

.flex-item-center {
  align-self: center;
}

.flex-start-wrap {
  align-self: flex-start;
}

.flex-column-item-end {
  margin-top: auto;
  align-self: center;
}
