@import '../variables.scss';
@import '../mixins/mq.scss';

.checkbox {
	position: relative;
	display: block;
	cursor: pointer;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
	@include mq($S) {
		font-size: 3vmin;
	}
  input {
	position: absolute;
	z-index: -1;
	opacity: 0;
  }
  .styled-checkbox {
    width: 1.5em;
    height: 1.5em;
    border: 3px solid $white;
    &.checked {
      &:after {
        content: '';
        position: absolute;
				left: .7em;
    		bottom: 0.7em;
        width: 1em;
        height: 2.25em;
        border: solid $black;
        border-width: 0 5px 5px 0;
        transform: rotate(45deg);
      }
    }
  }
  .checkbox-name {
    margin-left: 1.5em;
		h1 {
			font-size: $font-size-3;
			@include mq($S) {
				font-size: 2.5vmin;
			};
		}
  }
}
