@import '../variables.scss';
@import '../mixins/mq.scss';

.drop {
	position: absolute;
  animation: fall 10s linear infinite;
	-webkit-animation: fall 10s linear infinite;
  -moz-animation: fall 10s linear infinite;
  color: $orange;
  font-size: $font-size-1;
  font-weight: 800;
  @include mq($S) {
    font-size: 1.5em;
  }
}

.rain {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  overflow: hidden;
  left: 0;
  top: 0;
}

/* animate the drops*/
@keyframes fall {
  100% {
    top: 100%;
  }
}
@-webkit-keyframes fall {
  100% {
    top: 100%;
  }
}
@-moz-keyframes fall {
  100% {
    top: 100%;
  }
}
