.tooltip-wrapper {
  position: relative;
  color: $white;
  display: inline-block;
  &:hover {
    cursor: pointer;
  }
  .radio-button {
    color: $black;
    @include mq($S) {
      margin-bottom: 1.5em;
    }
  }
}
.radio-button-wrap {
  .tooltip-wrapper {
    .tooltip {
      right: -47%;
      top: calc(-100% - 62px);
    }
  }
}

.span-wrap {
  span:first-child{
    float: left;
  }
}

.tooltip {
  position: absolute;
  right: 0%;
  top: -148px;
  border-width: 0px 93px 151.2px;
  width: 0px;
  height: 0px;
  border-style: inset;
  border-color: transparent transparent $gold transparent;
  float: left;
  transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  -o-transform:rotate(180deg);
  font-size: 10px;
  -webkit-transition: opacity .5s linear;
  transition: opacity .5s linear;
  &.show {
    opacity: 1;
  }
  &.hide {
    opacity: 0;
  }
  .tooltip-content {
    text-align: center;
    color: $white;
    width: 100px;
    top: 86px;
    left: -50px;
    position: absolute;
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -o-transform:rotate(180deg);
  }
}
